//
//                                                        ▀▀▀▀▀     ▀▀▀▀▀          ▀▀█▀▀
//                                                        ▄▀▀▀▄  ▄  ▄▀▀▀▄  ▄  ▄▀▀▀▄  █  ▄▀▀▀▄
//                                                        █   █  █  █   █  █  █   █  █  █   █
//                                                         ▀▀▀   █   ▀▀▀   █   ▀▀▀   ▀   ▀▀▀
//                                                               █      ▄▄▄█▄▄▄    █   █  
//                                                               ▀      █  █  █     █▄█
//                                                             ▀▀▀▀▀    █  █  █      ▀
//                                                                      ▀  ▀  ▀
//
// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define Base        0
#define Media       1
#define Nav         2
#define Mouse       3
#define Sym         4
#define Num         5
#define Fun         6
#define Button      7
#define Game        8
#define Gameplus    9

&mt {
    quick-tap-ms = <100>;
    global-quick-tap;
    flavor = "tap-preferred";
    tapping-term-ms = <170>;
};

&lt {
    tapping-term-ms = <240>;
    flavor = "balanced";
    quick-tap-ms = <150>;
};

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            quick-tap-ms = <125>;
            global-quick-tap;
            bindings = <&kp>, <&kp>;
        };
    };

    combos { compatible = "zmk,combos"; };

    keymap {
        compatible = "zmk,keymap";

        Base {
            label = "Base";
            bindings = <
           &kp Q       &kp W       &kp F        &kp P         &kp B        &kp J    &kp L         &kp U               &kp Y           &kp SEMICOLON
           &hm LGUI A  &hm LALT R  &hm LCTRL S  &hm LSHIFT T  &kp G        &kp M    &hm LSHIFT N  &hm LEFT_CONTROL E  &hm LEFT_ALT I  &hm LEFT_GUI O
&kp GRAVE  &kp Z       &kp X       &kp C        &kp D         &kp V        &kp K    &kp H         &kp COMMA           &kp DOT         &kp SLASH       &kp APOSTROPHE
                                   &kp DELETE   &lt 1 TAB     &kp SPACE    &kp RET  &lt 2 ESCAPE  &kp BACKSPACE
            >;
        };

        Nav {
            label = "Nav";
            bindings = <
                   &none            &none           &kp UP_ARROW          &none       &kp LBRC    &kp RBRC  &kp NUMBER_7         &kp NUMBER_8               &kp NUMBER_9           &kp NUMBER_0
                   &none            &kp LEFT        &kp DOWN              &kp RIGHT   &kp LBKT    &kp RBKT  &hm LSHIFT NUMBER_4  &hm LEFT_CONTROL NUMBER_5  &hm LEFT_ALT NUMBER_6  &hm LEFT_GUI MINUS
&kp C_VOLUME_DOWN  &kp C_VOLUME_UP  &kp C_PREVIOUS  &kp LS(C_PLAY_PAUSE)  &kp C_NEXT  &kp LPAR    &kp RPAR  &kp NUMBER_1         &kp NUMBER_2               &kp NUMBER_3           &kp KP_MULTIPLY     &kp PLUS
                                                    &none                 &trans      &none       &none     &kp DOT              &none
            >;
        };

        Sym {
            label = "Sym";
            bindings = <
        &kp EXCL     &kp AT           &kp HASH             &kp DOLLAR         &kp PERCENT    &kp CARET  &kp AMPERSAND      &kp KP_ASTERISK      &kp SQT           &kp DQT
        &hm LGUI F2  &hm LEFT_ALT F3  &hm LEFT_CONTROL F4  &hm LEFT_SHIFT F5  &kp F6         &kp F7     &hm LEFT_SHIFT F8  &hm LEFT_CONTROL F9  &hm LEFT_ALT F10  &hm LEFT_GUI F11
&kp F1  &none        &none            &none                &none              &none          &none      &none              &none                &none             &none             &kp F12
                                      &none                &none              &none          &none      &trans             &none
            >;
        };
    };
};
